{
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "16.8.2"
    }
  },
  "rules": {
    "arrow-parens": [2, "always", { "requireForBlockBody": true }],
    "indent": ["error", 4],
    "space-before-function-paren": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "camelcase": "off",
    "sort-imports": "off",
    "sort-keys": "off",
    "sort-vars": "error",
    "nonblock-statement-body-position": [
      "error",
      "beside"
    ],
    "no-confusing-arrow": [
      "error",
      {
        "allowParens": true
      }
    ],
    "import/order": "off",
    "sort-imports-es6-autofix/sort-imports-es6": "off",
    "id-length": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "react/jsx-wrap-multilines": "error",
    "react/prop-types": [
      "error",
      {
        "ignore": [],
        "customValidators": [],
        "skipUndeclared": false
      }
    ]
  }
}
